# Complete list of all available properties: https://docs.upsun.com/app/reference/
applications:
  gem-session:
    type: "ruby:3.4"

    # Application source code directory
    source:
      root: "/"

    mounts:
      "/log":
        source: "tmp"
        source_path: "log"
        
      "/storage":
        source: "storage"
        source_path: "storage"
        
      "/tmp":
        source: "tmp"
        source_path: "tmp"

    # The web key configures the web server running in front of your app.
    # More information: https://docs.upsun.com/app/reference/web/
    web:
      # Commands are run once after deployment to start the application process.
      # More information: https://docs.upsun.com/app/reference/web/commands/
      commands:
        # The command to launch your app. If it terminates, it’s restarted immediately.
        # You can use the $PORT or the $SOCKET environment variable depending on the socket family of your upstream
        start: "bundle exec puma -b unix://$SOCKET"
      # You can listen to a UNIX socket (unix) or a TCP port (tcp, default).
      # Whether your app should speak to the webserver via TCP or Unix socket. Defaults to tcp
      # More information: https://docs.upsun.com/app/reference/web/upstream/socket-family/
      upstream:
        # Whether your app should speak to the webserver via TCP or Unix socket. Defaults to tcp
        # More information: https://docs.upsun.com/app/reference/web/upstream/socket-family/
        socket_family: unix
      # Each key in locations is a path on your site with a leading /.
      # More information: https://docs.upsun.com/app/reference/web/locations/
      locations:
        "/":
          passthru: true
          
        

    # Variables to control the environment. More information: https://docs.upsun.com/app/reference/variables/
    variables:
      env:
        N_PREFIX: "/app/.global"
        PIDFILE: "tmp/server.pid"
        RAILS_ENV: "production"

    # Specifies a default set of build tasks to run. Flavors are language-specific.
    # More information: https://docs.upsun.com/app/reference/build/
    build:
      flavor: none

    # Installs global dependencies as part of the build process. They’re independent of your app’s dependencies and
    # are available in the PATH during the build process and in the runtime environment. They’re installed before
    # the build hook runs using a package manager for the language.
    # More information: https://docs.upsun.com/app/reference/dependencies/
    dependencies:
      nodejs:
        n: "*"

    # Hooks allow you to customize your code/environment as the project moves through the build and deploy stages
    # More information: https://docs.upsun.com/app/reference/hooks/
    hooks:
      # The build hook is run after any build flavor.
      # More information: https://docs.upsun.com/app/hooks/compare/compare/build/
      build: |
        set -eux
        n auto || n lts
        hash -r
        npm i
        bundle install --deployment --without development:test
        bundle exec rails assets:precompile
        
      # The deploy hook is run after the app container has been started, but before it has started accepting requests.
      # More information: https://docs.upsun.com/app/hooks/compare/compare/deploy/
      deploy: |
        set -eux
        bundle exec rake db:migrate
        
    # Scheduled tasks for the app.
    # More information: https://docs.upsun.com/app/reference/crons/
    # crons:

routes:
  "https://{default}/":
    type: upstream
    upstream: "gem-session:http"
