<% content_for :title, "Artist #{@user.name}" %>

<div class="content">
  <h1><%= @user.name %></h1>

  <h2>Projects</h2>
  <div class="block">
    <% @user.projects.select { it.visible_to?(Current.user) }.each do |project| %>
      <div class="box">
        <%= render "projects/preview", project: %>
        <%= link_to "Show this project", project %>
      </div>
    <% end %>
    <% if @user.projects.empty? %>
      <p>No projects yet...</p>
    <% end %>

    <%= button_to "New project", new_project_path, method: :get, class: "button is-primary" %>
  </div>
</div>
