<section class="section">
  <div class="container">
    <div class="content is-medium">
      <h3>Welcome</h3>
      <p>
        Gem Session is a headbanging coding challenge that'll shred your fingers like a DragonForce guitar solo!
      </p>

      <p>
        Are you looking for a new groove? Do you want to spice up your repertoire? Maybe riff on
        some ideas to get your creative juices flowing?
      </p>
      <p>
        You've come to the right place.
      </p>

      <h3 class="title">Here's how it works:</h3>
      <div class="box has-background-light has-text-grey-dark">
        <ol>
          <li>Our music agent Noodle&trade; picks two gems at random and provides a prompt</li>
          <li>You write a piece fueled by those constraints</li>
          <li>Share your killer demo and build a following</li>
          <li>Rock out to other peers' grooves and cheer for your favorites</li>
        </ol>
      </div>

      <p class="has-text-centered has-text-weight-bold mt-6">Ready to turn it up to eleven?</p>
      <div class="buttons is-centered mt-4">
        <%= link_to "⚡ Start Gemming ⚡", new_project_path, class: "button is-primary is-large" %>
      </div>
    </div>
  </div>
</section>
