<div id="<%= dom_id project %>">
  <p>
    <%= project.prompt %>
  </p>

  <% unless project.homepage_url.blank? %>
    <p>
      <%= link_to "Homepage", project.homepage_url %>
    </p>
  <% end %>
</div>
