<% content_for :title, "New project" %>

<div class="content">
  <h1>New project</h1>

  <%= render "form", project: @project %>

  <% unless authenticated? %>
    <p class="mt-4">
      Sounds like fun? Then please <%= link_to "join up", new_user_path %> to start gemming!
    </p>
  <% end %>
</div>
