.line-clamp-2 {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/line-clamp#examples */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
